if theme.gitalk.enable
    #container
    // link(rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css")

    link(rel="stylesheet" href="/css/gitalk.css")
    script(src="https://unpkg.com/gitalk/dist/gitalk.min.js")
    script.
        var gitalk = new Gitalk({
            clientID: '#{theme.gitalk.client_id}',
            clientSecret: '#{theme.gitalk.client_secret}',
            repo: '#{theme.gitalk.repo}',
            owner: '#{theme.gitalk.owner}',
            admin: ['#{theme.gitalk.owner}'],
            perPage: 100,
            id: '#{page.date} GMT'.split('GMT')[0].replace(/\s/g, '-'),
            distractionFreeMode: false,
            pagerDirection: 'first'
        })

        gitalk.render('container')
